@import url('../css/tanker.css');
@import url('../css/outfit.css');

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */
:root {
  --text-color: hsl(0, 0%, 100%);
  /* #ffffff */
  --bg-color: hsl(243, 92%, 10%);
  /* #040231 */
  --accent-color: hsl(160, 70%, 60%);
  /*  #52e0b1 */

  --ff: "Tanker-Regular", sans-serif;
  --ff2: "Outfit-Regular", sans-serif;
  --p: 1rem/1.5em var(--ff2);
  --h1: 700 3.8rem/1em var(--ff);
  --h2: 600 3rem/1.1em var(--ff);
  --h3: 500 2.45rem/1.2em var(--ff);
  --h4: 600 1.95rem/1.3em var(--ff);
  --h5: 500 1.5625rem/1.4em var(--ff);
  --h6: 400 1.25rem/1.45em var(--ff);
  --spacing0: 4px;
  --spacing1: 8px;
  --spacing2: 16px;
  --spacing3: 24px;
  --spacing4: 32px;
  --spacing5: 64px;
  --spacing6: 128px;
  --spacing7: 256px;
}

/* Global Styles */
html {
  scroll-behavior: smooth;
}

body {
  font: var(--p);
  background: var(--bg-color);
  color: var(--text-color);
}

h1 {
  font: var(--h1);
}

h2 {
  font: var(--h2);
}

h3 {
  font: var(--h3);
}

h4 {
  font: var(--h4);
}

h5 {
  font: var(--h5);
}

h6 {
  font: var(--h6);
}

p {
  font: var(--p);
}

img {
  width: 100%;
}

/* Utility Classes */
.padding1 {
  padding: var(--spacing1) 0;
}

.padding2 {
  padding: var(--spacing2) 0;
}

.padding3 {
  padding: var(--spacing3) 0;
}

.padding4 {
  padding: var(--spacing4) 0;
}

.padding5 {
  padding: var(--spacing5) 0;
}

.padding6 {
  padding: var(--spacing6) 0;
}

.padding7 {
  padding: var(--spacing7) 0;
}

.margin1 {
  margin: var(--spacing1) auto;
}

.margin2 {
  margin: var(--spacing2) auto;
}

.margin3 {
  margin: var(--spacing3) auto;
}

.margin4 {
  margin: var(--spacing4) auto;
}

.margin5 {
  margin: var(--spacing5) auto;
}

.margin6 {
  margin: var(--spacing6) auto;
}

.margin7 {
  margin: var(--spacing7) auto;
}

.center {
  text-align: center;
}

.hidden {
  display: none;
}

.reverse {
  flex-direction: row-reverse;
}

/*
.test-bg-section {
  background-color: red;
}
*/
.section-title {
  margin-bottom: var(--spacing5);
}

.margin-section {
  margin: var(--spacing6) auto;
  width: 90%;
}

.long-card-text {
  padding: var(--spacing3);
}

/* Mint button styles */

.mint-btn {
  display: block;
  position: relative;
  border-radius: var(--spacing2);
  flex: 1 1 0;
  align-items: center;
  text-align: center;
  border: 3px solid var(--text-color);
  z-index: 1;
  /* Add proper stacking context */
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.link-mint-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: var(--bg-color);
  background: var(--accent-color);
  padding: var(--spacing1) var(--spacing2);
  border-radius: var(--spacing2);
  border: 3px solid var(--bg-color);
  font: var(--p);
  font-weight: 700;
  text-decoration: none;
  z-index: 1;
}

.mint-btn:hover {
  transform: scale(1.05);
}

.mint-btn:hover .link-mint-btn {
  background: hsl(from var(--accent-color) h s calc(l - 5));
}

.mint-btn::before,
.mint-btn::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border-radius: var(--spacing2);
  padding: 0;
  z-index: -2;
  background-color: var(--accent-color);
  /*
    background-image: conic-gradient(from var(--angle), transparent, var(--accent-color));
    animation: 3s spin linear infinite;
    */
}

.mint-btn::before {
  filter: blur(var(--spacing3));
  opacity: 0.4;
}

.mint-btn::after {
  /* Solid background to block the glow from affecting the button */
  background-color: var(--accent-color);
  z-index: -1;
}

.mint-btn-disabled {
  cursor: not-allowed;
  opacity: 0.6;
  pointer-events: none;
}

.mint-btn-disabled .link-mint-btn {
  background: hsl(from var(--accent-color) h s calc(l - 20));
}

.mint-btn-disabled:hover {
  transform: none;
}

.mint-btn-disabled:hover .link-mint-btn {
  background: hsl(from var(--accent-color) h s calc(l - 20));
}

.mint-btn-disabled::before,
.mint-btn-disabled::after {
  background-color: hsl(from var(--accent-color) h s calc(l - 20));
}