@import url('../css/tanker.css');
@import url('../css/outfit.css');

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */
:root {
  --bg-color: hsl(30, 30%, 92%);
  /* #ffffff */
  --text-color: hsl(243, 92%, 10%);
  /* #040231 */
  --accent-color: hsl(15, 85%, 55%);
  --accent-color-two: hsl(350, 100%, 55%);
  /* mint: #52e0b1 */

  --ff-primary: "Tanker-Regular", sans-serif;
  --ff-secondary: "Outfit-Regular", sans-serif;
  --h1: 700 clamp(2rem, calc(3.43vw + 1rem), 4.68rem)/1em var(--ff-primary);
  --h2: 600 clamp(1.6rem, calc(2.5vw + 1rem), 3.75rem)/1.1em var(--ff-primary);
  --h3: 600 clamp(1.3rem, calc(1.8vw + 1rem), 3.05rem)/1.2em var(--ff-primary);
  --h4: 500 clamp(1.05rem, calc(1.1875vw + 1rem), 2.4375rem)/1.3em var(--ff-primary);
  --h5: 500 clamp(0.85rem, calc(0.7vw + 1rem), 1.95rem)/1.4em var(--ff-primary);
  --h6: 400 clamp(0.65rem, calc(0.3vw + 1rem), 1.55rem)/1.45em var(--ff-primary);
  --p: clamp(0.55rem, 1rem, 1.25rem)/1.5em var(--ff-secondary);

  --spacing0: 4px;
  --spacing1: 8px;
  --spacing2: 16px;
  --spacing3: 24px;
  --spacing4: 32px;
  --spacing5: 64px;
  --spacing6: 128px;
  --spacing7: 256px;
}

/* Global Styles */
html {
  scroll-behavior: smooth;
}

body {
  font: var(--p);
  background: var(--bg-color);
  color: var(--text-color);
}

h1 {
  font: var(--h1);
}

h2 {
  font: var(--h2);
}

h3 {
  font: var(--h3);
}

h4 {
  font: var(--h4);
}

h5 {
  font: var(--h5);
}

h6 {
  font: var(--h6);
}

p {
  font: var(--p);
}

img {
  width: 100%;
}

/* Utility Classes */
.padding1 {
  padding: var(--spacing1) 0;
}

.padding2 {
  padding: var(--spacing2) 0;
}

.padding3 {
  padding: var(--spacing3) 0;
}

.padding4 {
  padding: var(--spacing4) 0;
}

.padding5 {
  padding: var(--spacing5) 0;
}

.padding6 {
  padding: var(--spacing6) 0;
}

.padding7 {
  padding: var(--spacing7) 0;
}

.margin1 {
  margin: var(--spacing1) auto;
}

.margin2 {
  margin: var(--spacing2) auto;
}

.margin3 {
  margin: var(--spacing3) auto;
}

.margin4 {
  margin: var(--spacing4) auto;
}

.margin5 {
  margin: var(--spacing5) auto;
}

.margin6 {
  margin: var(--spacing6) auto;
}

.margin7 {
  margin: var(--spacing7) auto;
}

.center {
  text-align: center;
}

.hidden {
  display: none;
}

.reverse {
  flex-direction: row-reverse;
}

/*
.test-bg-section {
  background-color: red;
}
*/
.section-title {
  margin-bottom: var(--spacing5);
}

.margin-section {
  margin: var(--spacing6) auto;
  width: 90%;
}

.long-card-text {
  padding: var(--spacing3);
}

/* Legal page styles */
.legal-page-section {
  margin: var(--spacing5) auto;
  width: 90%;
}

.legal-page-title {
  margin-bottom: var(--spacing4);
}

.legal-page-subtitle {
  margin: var(--spacing3) 0 var(--spacing1) 0;
}
.legal-page-subtitle-two {
  margin: var(--spacing1) 0 var(--spacing0) 0;
}
.legal-page-content {
  text-align: justify;
}
ul.legal-page-content {
  margin: var(--spacing2) 0 var(--spacing2) 0;
  padding-left: var(--spacing4);
  list-style-type: disc;
}

/* Button styles */

.blue-btn {
  display: block;
  position: relative;
  border-radius: var(--spacing2);
  flex: 1 1 0;
  align-items: center;
  text-align: center;
  border: 2px solid var(--text-color);
  z-index: 1;
  /* Add proper stacking context */
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.accent-btn {
  display: block;
  position: relative;
  border-radius: var(--spacing2);
  flex: 1 1 0;
  align-items: center;
  text-align: center;
  border: 2px solid var(--accent-color);
  z-index: 1;
  /* Add proper stacking context */
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

.link-blue-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: var(--bg-color);
  background: var(--text-color);
  padding: var(--spacing1) var(--spacing2);
  border-radius: calc(var(--spacing2) - 2px);
  border: 2px solid var(--bg-color);
  font: var(--p);
  font-weight: 700;
  text-decoration: none;
  z-index: 1;
}

.link-accent-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: var(--bg-color);
  background: var(--accent-color);
  padding: var(--spacing1) var(--spacing2);
  border-radius: calc(var(--spacing2) - 2px);
  border: 2px solid var(--bg-color);
  font: var(--p);
  font-weight: 700;
  text-decoration: none;
  z-index: 1;
}

.accent-btn:hover,
.blue-btn:hover {
  transform: scale(1.05);
}

.accent-btn:hover .link-accent-btn {
  background: hsl(from var(--accent-color) h s calc(l - 5));
}

.blue-btn:hover .link-blue-btn {
  background: hsl(from var(--text-color) h s calc(l - 5));
}

.accent-btn::before,
.accent-btn::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border-radius: var(--spacing2);
  padding: 0;
  z-index: -2;
  background-color: var(--accent-color);
  /*
    background-image: conic-gradient(from var(--angle), transparent, var(--accent-color));
    animation: 3s spin linear infinite;
    */
}

.blue-btn::before,
.blue-btn::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border-radius: var(--spacing2);
  padding: 0;
  z-index: -2;
  background-color: var(--text-color);
  /*
    background-image: conic-gradient(from var(--angle), transparent, var(--accent-color));
    animation: 3s spin linear infinite;
    */
}

.accent-btn::before,
.blue-btn::before {
  filter: blur(var(--spacing3));
  opacity: 0.4;
}

.accent-btn::after {
  /* Solid background to block the glow from affecting the button */
  background-color: var(--accent-color);
  z-index: -1;
}

.blue-btn::after {
  /* Solid background to block the glow from affecting the button */
  background-color: var(--text-color);
  z-index: -1;
}

.accent-btn-disabled,
.blue-btn-disabled {
  cursor: not-allowed;
  opacity: 0.6;
  pointer-events: none;
}

.accent-btn-disabled .link-accent-btn {
  background: hsl(from var(--accent-color) h s calc(l - 20));
}

.blue-btn-disabled .link-blue-btn {
  background: hsl(from var(--text-color) h s calc(l - 20));
}

.accent-btn-disabled:hover,
.blue-btn-disabled:hover {
  transform: none;
}

.accent-btn-disabled:hover .link-accent-btn {
  background: hsl(from var(--accent-color) h s calc(l - 20));
}

.blue-btn-disabled:hover .link-blue-btn {
  background: hsl(from var(--text-color) h s calc(l - 20));
}

.accent-btn-disabled::before,
.accent-btn-disabled::after {
  background-color: hsl(from var(--accent-color) h s calc(l - 20));
}

.blue-btn-disabled::before,
.blue-btn-disabled::after {
  background-color: hsl(from var(--text-color) h s calc(l - 20));
}